:root {
    /*  */
    --putih: #ffffff;
    --merah: #ff0000;
    --abu: #333333;
    --biru: #0059ce;
    --garis: 1px solid var(--merah);
    --jarak: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: var(--garis);
}

th {
    background: var(--merah);
    color: var(--putih);
    padding: var(--jarak);
}

td {
    background: var(--putih);
    color: var(--abu);
    padding: var(--jarak);
}

.area-tombol {
    display: flex;
    justify-content: center;
    margin: var(--jarak);
    align-items: center;
    /* height: 300px; */
    /* background: var(--merah); */
}

.btn-primary {
    background: var(--biru);
    font-size: 10px;
    font-weight: bold;
    text-transform:uppercase;
    color: var(--putih);
    height: 40px;
    width: 120px;
    border-radius: 30px;
    padding: var(--jarak);
    margin-right: var(--jarak);
    cursor: pointer;
    /* border: var(--garis); */
    /* outline: 0; */
}

.btn-secondary {
    background: var(--putih);
    font-size: 10px;
    font-weight: bold;
    text-transform:uppercase;
    color: var(--biru);
    height: 40px;
    width: 120px;
    border-radius: 25px;
    padding: var(--jarak);
    margin-left: var(--jarak);
    cursor: pointer;
    /* border: var(--garis); */
    /* outline: 0; */
}