:root {
    /*  */
    --putih: #ffffff;
    --merah: #ff0000;
    --abu: #333333;
    --shadow:#33333354;
    --biru: #0059ce;
    --garis: 1px solid var(--merah);
    --jarak: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: var(--garis);
}

th {
    background: var(--merah);
    color: var(--putih);
    padding: var(--jarak);
}

td {
    background: var(--putih);
    color: var(--abu);
    padding: var(--jarak);
}

.area-tombol {
    display: flex;
    justify-content: center;
    margin: var(--jarak);
    align-items: center;
    /* height: 300px; */
    /* background: var(--merah); */
}

.btn-primary {
    background: var(--biru);
    font-size: 10px;
    font-weight: bold;
    text-transform:uppercase;
    color: var(--putih);
    height: 40px;
    width: 120px;
    border-radius: 30px;
    padding: var(--jarak);
    margin-right: var(--jarak);
    cursor: pointer;
    /* border: var(--garis); */
    /* outline: 0; */
}

.btn-secondary {
    background: var(--putih);
    font-size: 10px;
    font-weight: bold;
    text-transform:uppercase;
    color: var(--biru);
    height: 40px;
    width: 120px;
    border-radius: 25px;
    padding: var(--jarak);
    margin-left: var(--jarak);
    cursor: pointer;
    /* border: var(--garis); */
    /* outline: 0; */
}

.area-aksi{
    display: flex;
    width: 100%;

}

.btn-ubah,.btn-hapus{
    width: 49%;
    /* border: var(--garis); */
    padding: calc(var(--jarak)*2);
    color: var(--putih);
    border-radius: calc(var(--jarak)*2);
    cursor: pointer;
}

.btn-ubah{

    background-color: var(--biru);
    margin-right: 1%;
}

.btn-hapus{
    background-color: var(--merah);
    margin-left: 1%;
}


.item-label1,.item-input1,.item-error1,
.item-label2,.item-input2,.item-error2,
.item-label3,.item-input3,.item-error3,
.item-label4,.item-input4,.item-error4
{
    display: grid;
    align-items: center;
    padding:var(--jarak);
}

/* 1 */
.item-label1{
    grid-area: label1;
    


}

.item-input1{
    grid-area: input1;

    
}

.item-error1{
    grid-area: error1;
    
}


/* 2 */
.item-label2{
    grid-area: label2;

}

.item-input2{
    grid-area: input2;
    
}

.item-error2{
    grid-area: error2;
}

/* 3 */
.item-label3{
    grid-area: label3;

}

.item-input3{
    grid-area: input3;
    
}

.item-error3{
    grid-area: error3;
}

/* 4 */
.item-label4{
    grid-area: label4;

}

.item-input4{
    grid-area: input4;
    
}

.item-error4{
    grid-area: error4;
}

.area-grid{
    display: grid;
    width: 100%;
    grid-template-areas:
    'label1 input1 input1 error1'
    'label2 input2 input2 error2'
    'label3 input3 input3 error3'
    'label4 input4 input4 error4';
    grid-gap:10px;

}

.text-input, .select-input{
    
    border:var(--garis);
    border-radius: calc(var(--jarak)*3);
    outline: 0;
    padding: 0 var(--jarak);
    height: calc(var(--jarak)*3);
    font-size: 14px;
}

.select-input{
    background: none;
}


/* pseudo css */

.text-input:focus,.select-input:focus{
    border: 1px solid var(--biru);
    box-shadow: 0 3px 6px var(--shadow);
}

/* label::before{
    content: "--";
}

label::after{
    content: "#";
} */

.info-error{
    color: var(--merah);
    font-size: 12px;
    display: none;
}